* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
}

ul {
    display: flex;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}